<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @poi.id %>
</p>

<p>
  <b>Lat:</b>
  <%= @poi.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @poi.lon %>
</p>

<p>
  <b>Extra:</b>
  <%= @poi.extra %>
</p>




<%= link_to 'Edit', edit_poi_path(@poi) %> |
<%= link_to 'Back', pois_path %>
